<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715227074931-eao9povqajbk4hjnbo7e61mqlqpsent1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715227074931-eao9povqajbk4hjnbo7e61mqlqpsent1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>715227074931-0603iaf2tvcrkhfq64j2a6eanep4b1b5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6ST7QmJ14y3Ni42fIgtoRZdNrDXVshP8</string>
	<key>GCM_SENDER_ID</key>
	<string>715227074931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tapzuios.user</string>
	<key>PROJECT_ID</key>
	<string>bahula-2b141</string>
	<key>STORAGE_BUCKET</key>
	<string>bahula-2b141.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:715227074931:ios:326ab425a5496076f43506</string>
	<key>DATABASE_URL</key>
	<string>https://bahula-2b141.firebaseio.com</string>
</dict>
</plist>
